
datasets/
datasets/*

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.so

venv/
env/
.venv/
ENV/

.ipynb_checkpoints/

build/
dist/
*.egg-info/

*.log
*.tmp
*.swp
*.DS_Store
Thumbs.db

.vscode/
.history/

modelos/*.keras
modelos/*.h5
checkpoints/
*.weights.h5

*.env
